@import "styles/colors";

.header {
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: $header;

  .desktop {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 20px;

    .leftBlock {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      min-width: 150px;
      max-width: 150px;
      cursor: pointer;

      .logo {
        width: 100%;
        max-width: 70px;
        height: 100%;
        padding-right: 2px;

        border-right: 1px solid black;
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 90px;
        padding-left: 5px;

        h1 {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 5px;
        }
        span {
          padding-left: 3px;
          line-height: 1.2;
          overflow-wrap: break-word;
          word-wrap: break-word;
        }
      }
    }

    .centralBlock {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .rightBlock {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      min-width: 150px;
      gap: 5px;

      .tabs {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;

        .tab {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          cursor: pointer;

          .tabImgCart {
            margin-right: 3px !important;
          }

          &Text {
            padding: 5px 0;
            text-align: center;
            font-size: 14px;
          }

          &Count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin: 0 0 40px 35px;
            position: absolute;
            padding: 5px;
            border-radius: 50%;

            background-color: $btn_strong;
            outline: 1px solid $outline_strong_grey;

            span {
              text-align: center;
              font-size: 16px;
              font-weight: bold;
              color: $black;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .header {
    height: 130px;

    .desktop {
      display: none;
    }
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .header {
    height: 130px;
    padding: 10px 20px;

    .desktop {
      .leftBlock {
        .logo {
          max-width: 40px;
          border-right: 0;
        }

        .title {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  .header {
    height: 130px;

    .desktop {
      .leftBlock {
        min-width: 230px;
        max-width: 230px;

        .logo {
        }
      }

      .rightBlock {
        min-width: 230px;
        max-width: 230px;
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .header {
    height: 130px;
    padding: 10px 100px;

    .desktop {
      .leftBlock {
        min-width: 230px;
        max-width: 230px;

        .logo {
        }
      }

      .rightBlock {
        min-width: 230px;
        max-width: 230px;
      }
    }
  }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1600px) {
  .header {
    padding: 10px 10%;
    .desktop {
      .leftBlock {
        min-width: 350px;
        max-width: 350px;

        .title {
          span {
            margin-top: 10px;
          }
        }
      }

      .rightBlock {
        min-width: 350px;
        max-width: 350px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .header {
    padding: 10px 17%;
    .desktop {
      .leftBlock {
        min-width: 350px;
        max-width: 350px;

        .title {
          span {
            margin-top: 10px;
          }
        }
      }

      .rightBlock {
        min-width: 350px;
        max-width: 350px;
      }
    }
  }
}
