.header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin: 0 200px;

  .leftBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .logo {
      width: 300px;
    }
  }

  .centralBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    input {
      margin-top: 10px;
      padding: 12px 10px 10px 55px;
      width: 400px;
      height: 44px;
      background-color: rgba(235, 235, 235, 0.6);
      background-image: url("/static/images/search.png");
      background-position: 15px 10px;
      background-size: 25px;
      background-repeat: no-repeat;
      border-radius: 5px;
      box-shadow: 0 0 2px 1px lightgray;
      outline: none;
      border: none;
      font-size: 16px;

      &:focus {
        box-shadow: 0 0 2px 2px #096dd9;
      }
    }
  }

  .rightBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 65px;
      margin: 0 10px;
      padding: 3px 0;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        border-radius: 10px;
        background-color: #f0f0f3;
        box-shadow: 0 2px 2px 2px #d3d3d6;

        img {
          transform: scale(1.05);
        }

        span {
          color: #2f4f4f;
          font-weight: bold;
        }
      }

      img {
        margin-right: 1px;
        padding: 5px 0;
        width: 30px;
      }

      span {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }

      &Active {
        color: #2f4f4f;
        font-weight: bold;
      }
    }

    .blockCart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 65px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        border-radius: 10px;
        background-color: #f0f0f3;
        box-shadow: 0 2px 2px 2px #d3d3d6;

        img {
          transform: scale(1.05);
        }

        span {
          color: #2f4f4f;
          font-weight: bold;
        }
      }

      img {
        padding: 5px 0;
        margin-right: 7px;
        width: 30px;
      }

      span {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .blockCartFull {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 65px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        border-radius: 10px;
        background-color: #f0f0f3;
        box-shadow: 0 2px 2px 2px #d3d3d6;

        img {
          transform: scale(1.05);
        }

        span {
          color: #2f4f4f;
          font-weight: bold;
        }
      }

      img {
        padding: 5px 0;
        margin-right: 7px;
        width: 30px;
      }

      span {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }

      .cartCount {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin: 0 0 30px 30px;
        position: absolute;
        padding: 5px;
        border-radius: 50%;
        outline: 1px solid gray;
        background-color: #fefefe;

        span {
          font-size: 15px;
          font-weight: bold;
          color: cornflowerblue;
        }
      }
    }

    .blockAuto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 70px;
      padding: 5px 0;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        border-radius: 10px;
        background-color: #f0f0f3;
        box-shadow: 0 2px 2px 2px #d3d3d6;

        img {
          transform: scale(1.05);
        }

        span {
          color: #2f4f4f;
          font-weight: bold;
        }
      }

      img {
        padding: 7px 0 8px 0;
        width: 50px;
      }

      span {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
