.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 100px 50px;
  margin-top: 30px;
  background-color: #f5f5f5;

  .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    input {
      width: 400px;
      padding: 15px 20px;
      margin-bottom: 15px;

      &:focus {
        outline: 2px solid lightblue;
      }
    }

    span {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
