.sortBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 10px 10px 10px 15px;
  border-radius: 7px;
  outline: 2px solid lightgrey;
  background-color: white;
  cursor: pointer;

  img {
    width: 10px;
  }

  &:hover {
    outline: 2px solid lightskyblue;
  }
}

.sortPopup {
  position: absolute;
  outline: 1px solid black;
  background-color: white;

  .sort {
  }

  .activeSort {
  }
}
