.wrapper {
  min-height: calc(100vh - 200px);
  padding: 40px 0 100px 0;
  background-color: #f5f5f5;

  display: flex;

  .container {
    padding: 0 200px;

    .picker {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h3 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    .body {
      display: flex;

      .tip {
        h3 {
          margin-top: 20px;
        }
      }
    }
  }
}
