.container {
  min-height: calc(100vh - 350px);
  padding: 40px 210px 110px 210px;
  background-color: #f5f5f5;

  .header {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .left {
      flex: 0 1 69%;

      h1 {
        font-weight: bold;
      }

      .description {
        margin-top: 5px;

        span {
          line-height: 1.2;
          font-size: 20px;
          font-style: italic;
        }
      }

      .middle {
        display: flex;
        justify-content: space-between;

        .country {
          margin-top: 25px;

          span:nth-child(1) {
            font-size: 18px;
          }
          span:nth-child(2) {
            font-size: 18px;
            font-weight: bold;
          }
        }

        .link {
          margin-top: 15px;

          span {
            font-size: 18px;
          }
          a {
            font-size: 18px;
            font-weight: bold;
          }
        }

        .pdf {
          display: flex;
          margin-right: 50px;

          img {
            width: 70px;
            height: 70px;
            cursor: pointer;
          }
        }
      }
    }

    .photo {
      flex: 0 1 29%;
    }
  }

  .text {
    display: flex;
    margin-top: 25px;

    span {
      line-height: 1.5;
      font-size: 16px;
      text-align: justify;
    }
  }
}
