.wrapper {
  display: flex;
  min-height: calc(100vh - 200px);
  background-color: #e5e4e2;

  .main {
    display: grid;
    grid-template-columns: 400px auto 100px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "A A F"
      "B C G"
      "D E H";
    padding: 20px 40px;
  }

  .A {
    grid-area: A;
  }

  .B {
    grid-area: B;
  }

  .C {
    grid-area: C;
  }
}
