@import "styles/colors";

.container {
  min-height: calc(100vh - 300px);
  padding: 20px 17%;
  background-color: $body;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .container {
    min-height: calc(100vh - 220px);
    padding: 10px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .container {
    min-height: calc(100vh - 270px);
    padding: 20px 35px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  .container {
    min-height: calc(100vh - 270px);
    padding: 20px 100px;
  }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1600px) {
  .container {
    padding: 20px 10%;
  }
}
