.container {
  display: flex;
  align-items: center;

  .homeLink {
    margin-right: 5px;
    cursor: pointer;
    img {
      width: 22px;
    }

    &:hover {
      transform: scale(0.95);
    }
  }

  .separator {
    margin-right: 5px;
    img {
      width: 16px;
      opacity: 70%;
    }
  }

  .link {
    padding-top: 2px;
    margin-right: 5px;
    cursor: pointer;
    span {
      font-size: 16px;
    }

    &:hover {
      color: blue;
    }
  }

  .item {
    padding-top: 2px;
    margin-right: 5px;
    cursor: not-allowed;
    span {
      font-size: 16px;
    }
  }
}
