@import "styles/colors";

.notification {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  height: 70px;

  padding: 10px;

  background-color: $white;
  box-shadow: 0 0 6px 6px $light_grey;

  text-align: justify-all;

  .title {
    margin-bottom: 15px;
  }

  .subTitle {
    font-size: 16px;
  }
}
