$header: #fafafa; // 5
$body: #fcfcfc; // 3
$footer: #f7f7f7; // 8

$btn: #f0f0f0; // 15
$btn_strong: #e1e1e1; // 30

$btn_hover: #e6e6e6; // 25
$btn_strong_hover: #cdcdcd; // 50

$card: #9b9b9b; // 100
$card_hover: #e6e6e6; // 25

$light_grey: #e1e1e1; // 30
$outline_grey: #cdcdcd; // 50
$outline_strong_grey: #b9b9b9; // 70
$outline_strong_1_grey: #a5a5a5; // 90
$outline_strong_2_grey: #919191; // 110

$black: #000000;
$white: #ffffff;
$light_white: #fafafa; // 5
$light1_white: #f5f5f5; // 10

$dark_blue: #00009B; // 100
$dark_grey: #9b9b9b; // 100
