@import "styles/colors";

.specifications {
  width: 40%;

  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .table {
    display: flex;
    justify-content: space-between;
    .left {
      width: 70%;
      div {
        padding: 7px 0;
        margin-bottom: 10px;

        border-bottom: 1px solid $outline_grey;
        span {
          font-size: 16px;
        }
      }
    }
    .right {
      width: 30%;
      div {
        padding: 7px 0;
        margin-bottom: 10px;

        border-bottom: 1px solid $outline_grey;
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .specifications {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .specifications {
    width: 100%;
    margin-top: 30px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .specifications {
    width: 100%;
    margin-top: 30px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1600px) {
}
